*{
  font-family: 'Poppins', sans-serif;
}
.textoBlanco {
  color: white;
}
.divAncor {
  color: white;
}
.inverted {
  filter: invert(100%);
  /* border-bottom-style: solid; */
  border-width: 1px;
  border-color: #343a40;
}
.izquierda {
  margin-right: auto;
}
.derecha {
  text-align: right;
}
.colorNav {
  background-color: #343a40 !important;
}
.colorNav1 {
  /* background-color: black; */
  /* padding: 0.7%; */
  vertical-align: middle;
}
.centrarIconos {
  vertical-align: middle;
  page-break-inside: auto;
}
.inverted {
  filter: invert(100%);
}
#tituloPrincipal {
  font-weight: 900;
  font-size: 100%;
  min-width: 100%;
  /* color: red; */
  /* letter-spacing: 2px; */
}
#navbarResponsive {
  margin-left: auto;
}
#divAdentroDeNav {
  margin: 0rem;
  padding: 0;
}
#segundoNav {
  padding: 0.5rem 1rem;
}
.subtitulosPortada {
  color: white;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -1px;
  font-weight: 5000;
}
.subtitulosSecundarios {
  font-size: 1rem;
  /* color: white; */
}
.blanco {
  background-color: black;
}
.sinPadding {
  padding-left: 0px;
  padding-right: 0px;
}
.tamanoTitulo {
  font-family: 'Poppins', sans-serif;
  font-size: calc(1.2em + 6vw);
  font-weight: 900;
}
.subtitulo {
  text-align: center;
  font-size: calc(1.2em + 2vw);
  /* color: white; */
}
.logoGrande {
  /* max-width: 10 px; */
  height: 40px;
}
body {
  padding-top: 107px;
}
.bodyEmpresas {
  padding-top: 100px;
}
.bodyTalleres {
  padding-top: 100px;
}
.bodyConversaciones {
  padding-top: 100px;
}
.bodyContacto {
  padding-top: 100px;
}

.letraContacto {
  font-size: 1 px;
}

.bg-light {
  background-color: #f8f9fa !important;
}
.centrado {
  text-align: center;
}
.subtitulos {
  font-size: 25px;
}
.iconos {
  max-width: 100px;
}
.portadas {
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: #212529;
  opacity: 0.9; */
}
.centrarDiv {
  margin: auto;
}
.negro {
  color: #343a40;
}
.filtroFotos {
  background-color: #3b77b3;
  opacity: 1;
}
